.card {
    width: 190px;
    background: white;
    padding: .4em;
    border-radius: 6px;
}

.card img {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 130px;
    border-radius: 6px 6px 0 0;
}

.card img:hover {
    transform: scale(0.98);
}
  